body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    margin: 5px;
}

#wrapper {
    width: 80vw;
	max-width: 460px;
    min-width: 350px;
	margin-inline: auto;
}

.preview {
    max-height: 280px;
    max-width: 95%;
    /* min-width: 300px; */
    box-shadow: 0 0 3px black;
    transition: all 0.4s;
    margin-inline: 8px;
}

.preview:hover {
    box-shadow: 0 0 10px black;
    /* margin-inline: 10px; */
}

.page-desc {
    max-width: 500px;
}

.page-icon {
    width: 30px;
    height: 30px;
    transform: translate(0, 8px);
}

.page-title a {
    color: black;
}

.page-title h3 {
    margin-block: 5px;
    display: inline;
}

#navigation-heading {
    margin-bottom: 0;
}

.show-hide {
    width: 25px;
    transform: translate(3px, 8px);
    transform-origin: center;
    transition: all 0.7s;
}

.show-hide:hover {
    transform: translate(3px, 8px) scale(1.13);
}

.show-hide[data-opened=true] {
    transform: translate(3px, 8px) rotate(0.25turn);
}

.show-hide[data-opened=true]:hover {
    transform: translate(3px, 8px) scale(1.14) rotate(0.25turn);
}

.page-title a::after{
    background-image: url("assets/OpenLinkBtn.png");
    background-size: 15px 15px;
    display: inline-block;
    width: 15px;
    height: 15px;
    transform: translate(4px, 0);
    content: "";
}

/* thx https://keithjgrant.com/posts/2023/04/transitioning-to-height-auto/ */
.page-content {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s;
}

.page-content[data-opened=true] {
    grid-template-rows: 1fr;
}

.page-inner {
    /* padding-left: 10px; */
    overflow: hidden;
    grid-row: 1 / span 2;
}