body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    margin: 5px;
}

#wrapper {
    width: 80vw;
	max-width: 460px;
    min-width: 365px;
	margin-inline: auto;
}

.page {
    border: 3px solid black;
    border-radius: 15px;
    padding: 5px 8px;
    margin: 3px;
}

.preview {
    max-width: 95%;
    box-shadow: 0 0 3px black;
    transition: all 0.4s;
    margin-inline: 8px;
    border-radius: 6px;
}

.preview:hover {
    box-shadow: 0 0 10px black;
}

.page-desc {
    max-width: 500px;
}

.page-icon {
    border-radius: 5px;
    width: 30px;
    height: 30px;
    vertical-align: -8.5px;
}

.page-title {
    display: flex;
}

.page-title a {
    color: black;
}

.page-title a::after{
    background-image: url("assets/OpenLinkBtn.png");
    background-size: 15px 15px;
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 3.5px;
    content: "";
}

.page-title h3 {
    margin: 5px 3.5px;
}

#navigation-heading {
    margin-bottom: 0;
}

.show-hide {
    width: 25px;
    height: 25px;
    /* vertical-align:bottom; */
    transform-origin: center;
    transition: all 0.7s;
    margin-left: auto;
    margin-block: 3px;
}

.show-hide:hover {
    transform:  scale(1.13);
}

.show-hide[data-opened=true] {
    transform:  rotate(0.25turn);
}

.show-hide[data-opened=true]:hover {
    transform:  scale(1.14) rotate(0.25turn);
}

/* thx https://keithjgrant.com/posts/2023/04/transitioning-to-height-auto/ */
.page-content {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s;
}

.page-content[data-opened=true] {
    grid-template-rows: 1fr;
}

.page-inner {
    overflow: hidden;
    grid-row: 1 / span 2;
}